@tailwind base;
@tailwind components;
@tailwind utilities;

@starting-style {
    [data-flux-modal] > dialog[open][data-flux-flyout] { transform: scale(1) translateX(-50px) !important; }
}

@keyframes shine {
    to {
        background-position-x: -300%;
    }
}

.lozad {
    background: linear-gradient(110deg, #1c2029 8%, #2e3440 18%, #1c2029 33%);
    background-size: 300% 100%;
    animation: 1.5s shine linear infinite;
}

#recent-chapter {
    @apply relative items-center font-medium justify-center gap-2 whitespace-nowrap disabled:opacity-75 dark:disabled:opacity-75 disabled:cursor-default disabled:pointer-events-none h-10 text-sm rounded-lg px-4 inline-flex  bg-red-500 hover:bg-red-600 dark:bg-red-600 dark:hover:bg-red-500 text-white  shadow-[inset_0px_1px_theme(colors.red.500),inset_0px_2px_theme(colors.white/.15)] dark:shadow-none [[data-flux-button-group]_&]:border-r [:is([data-flux-button-group]>&:last-child,_[data-flux-button-group]_:last-child>&)]:border-r-0 [[data-flux-button-group]_&]:border-red-600 [[data-flux-button-group]_&]:dark:border-red-900/25 border-0;
}
